@font-face {
    font-family: 'px437_vtech_biosregular';
    src: url('/font/vtech-webfont.woff2') format('woff2'),
    url('/font/vtech-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-color: beige;
}

.page {
    width: 960px;
    height: 480px;
    margin: auto;
    background-color: dimgrey;
}

.tile {
    font-family: 'px437_vtech_biosregular', Windings, sans-serif;
    display: inline-block;
    width: 16px;
    height: 16px;
}
