<configuration>

    <!-- We only print to the console (stdout) by default using the following format -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{20} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="org.hexworks.zircon" level="warn"/>
    <logger name="org.hexworks.cobalt" level="warn"/>

    <logger name="org.hexworks.zircon.internal.component.impl.DefaultButton" level="debug"/>
    <logger name="org.hexworks.zircon.internal.uievent.impl.UIEventToComponentDispatcher" level="debug"/>


</configuration>
